In [3]:
import polars as pl
import pandas as pd

data = {"a": ["00000", "00001"], "b": ["house", "car"]}

def get_square_and_cube(item: str) -> tuple[int, int]:
    num = int(item)
    return {"square": num ** 2, "cube": num ** 3}  # Return a dictionary instead of tuple

# Polars
# df = pl.DataFrame(data)

# df = df.with_columns(
#     pl.col("a").map_elements(
#         get_square_and_cube,
#         return_dtype=pl.Struct([pl.Field("square", pl.Int64), pl.Field("cube", pl.Int64)])
#     ).alias("calculations")
# ).unnest("calculations")
# print(df)

# Pandas
df = pd.DataFrame(data)

df["calculations"] = df["a"].apply(get_square_and_cube)
df = df.join(df["calculations"].apply(pd.Series)).drop(columns=["calculations"])
display(df)

       a      b  square  cube
0  00000  house       0     0
1  00001    car       1     1

In [14]:
print(df)

shape: (2, 3)
┌───────┬───────┬──────────────┐
│ a     ┆ b     ┆ calculations │
│ ---   ┆ ---   ┆ ---          │
│ str   ┆ str   ┆ list[i64]    │
╞═══════╪═══════╪══════════════╡
│ 00000 ┆ house ┆ [0, 0]       │
│ 00001 ┆ car   ┆ [1, 1]       │
└───────┴───────┴──────────────┘